# Entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de configuración con contraseñas reales
src/config/router.yaml
.env

# Videos y bases de datos locales
data/
*.ts
*.m3u8
